@import './app-fonts.scss';

.app-header{
    position: sticky;
    top: 0;
    width: 100%;
    padding: 2em 0; 
    z-index: 999;
    background: #fff;
    
    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;        
    }

    &__search-cont{
        display: none;
        background: #dfdfdf;
        padding: .6em 1em;
        border-radius: 8px;

        > :nth-child(n+1){
            vertical-align: middle;
        }
    }

    &__search-input{
        background: transparent;
        border: none;
        width: 380px;
        outline: none;
    }

    &__search-btn{
        background: transparent;
        border: none;
    }

    &__actions-cont{
        > :nth-child(n+1){
            display: inline-block;
            margin: 0 0 0 2em;
            vertical-align: middle;
        }
    }

    @media screen and (min-width: 768px){
        &__search-cont{
            display: inline-block;
        }    
    }
}

.app-logo{
    display: inline-block;

    h1{
        font-family:  $header-font;
        font-weight: 100;
    }
}


